body
{
  background-image: url(https://raw.githubusercontent.com/wilsmex/edu/master/responsive_grid_tutorial/images/60.-Zircon.jpg);
  background-size: cover;
  font-family: "Prompt", sans-serif;
}

/*-----------------------------WRAPPERS-----------------------*/

.nav-wrapper
{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px 20px 15px 20px;
  display: grid;
  grid-template-columns: 30% auto;
  color:#333;
}

.main-wrapper
{
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper
{
  max-width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "featuredMain featuredMain featuredSub"
    "contentMain contentMain contentSub";
  margin-bottom: 10px;
}

/*--------------------NAVIGATION-HEADER------------------------*/

.nav-wrapper a
{
  color: white;
  text-decoration: none;
  letter-spacing: .1rem;
  font-weight: bold;
  color: #000;
}

.nav-wrapper a:hover
{
  cursor: pointer;
  color: #eee;
}

.list-item
{
  margin-left: 10px;
  padding: 10px;
  text-transform: uppercase;
}

.burger-icon
{
  display: none;
}

.nav-wrapper ul
{
  text-align: right;
}

.nav-wrapper ul li
{
  display: inline;
  list-style-type: none;
}

.logo
{
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0 16px 0;
}

/*--------------------WRAPPER-ELEMENTS------------------------*/

.featured, .sub-featured > div, .main-content, .main-sidebar
{
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.featured
{
  min-height: 500px;
  grid-area: featuredMain;
  display: grid;
  align-content: flex-end;
  background: border-box;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(https://source.unsplash.com/1600x900/?galaxy);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}

.featured h1
{
  font-size: 36px;
  max-width: 90%;
}

.sub-featured
{
  grid-area: featuredSub;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  color: white;
}

.sub-featured h3
{
  margin-top: 0;
}

.sub1
{
  background: border-box;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(https://source.unsplash.com/700x400/?technology);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.sub2
{
  background: border-box;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(https://source.unsplash.com/700x400/?wallpapers);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.sub3
{
  background: border-box;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(https://source.unsplash.com/700x400/?snow);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-content
{
  grid-area: contentMain;
  background-color: rgba(255, 255, 255, 0.35);
  color: #333;
  line-height: 1.5;
}

.main-sidebar
{
  grid-area: contentSub;
  background-color: rgba(255, 255, 255, 0.35);
  color: #333;
  line-height: 1.5;
}

/*--------------------FOOTER-ELEMENTS------------------------*/

.footer
{
  margin: auto;
  display: grid;
  grid-template-columns: minmax(20px, 300px) minmax(20px, 300px) minmax(20px, 300px) minmax(20px, 300px);
  grid-template-rows: 1fr 0.5fr;
  justify-content: center;
  justify-items: center;
  background: border-box;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(https://source.unsplash.com/1600x900/?art);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.footer > div
{
  padding: 20px;
}

.footer > .copyright
{
  grid-column: span 4;
  align-self: center;
}

/*****************************************************TABLET MEDIA QUERY*************************************************/

@media screen and (max-width: 950px)
{
  .wrapper
  {
    grid-template-areas:
    "featuredMain featuredMain featuredMain"
    "featuredSub featuredSub featuredSub"
    "contentMain contentMain contentSub";
  }

  .sub-featured
  {
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-wrapper
  {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }

  .nav-wrapper ul
  {
    text-align: center;
    margin: 16px 0;
    padding: 0;
  }

  .logo
  {
    margin-top: 16px;
  }
}

/*****************************************************MOBILE MEDIA QUERY*************************************************/

@media screen and (max-width: 690px)
{
  /* NAVIGATION */
  .nav-wrapper
  {
    grid-template-columns: repeat(4, 1fr);
  }
  .logo
  {
    grid-column: span 2;
    text-align: left;
  }
  .nav-items
  {
    grid-column: span 4;
  }
  .nav-wrapper ul li
  {
    display: block;
  }
  .nav-wrapper ul
  {
    padding: 0;
    margin: 0;
  }
  .burger-icon
  {
    display: inline-block;
    grid-column: span 2;
    justify-self: end;
    align-self: center;
    border: 2px solid;
    padding: 5px;
    border-radius: 5px;
  }
  .burger-icon:hover
  {
    cursor: pointer;
  }

  .mobile-show
  {
    display: block;
  }

  .mobile-hide
  {
    display: none;
  }

  /* MAIN */

  .wrapper
  {
    grid-template-columns: 1fr;
    grid-template-areas:
      "featuredMain"
      "contentMain"
      "featuredSub"
      "contentSub";
  }
  .sub-featured
  {
    grid-template-columns: 1fr;
  }

  .featured h1
  {
    font-size: 30px;
  }

  /* FOOTER */

  .footer
  {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}
